
<div class="text-center ">
  <h1>Queres comunicarte con nosotros?</h1>
  <!--  d76bcfdf2d1dcad1adb4ba5b727dd810  remplazar por tu corrreo electronica-->
    <form action="https://formsubmit.co/d76bcfdf2d1dcad1adb4ba5b727dd810" method="post">
        <ul>
        <li class="mt-3">
          <label for="name">Nombre:</label> <br>
          <input type="text" id="name" name="name" placeholder="Tu nombre" required>
        </li>
        <li class="mt-3 mb-3">
          <label for="mail">Correo electronico:</label><br>
          <input type="email" id="mail" name="email" placeholder="Correo" required>
        </li>
        <li >
          <label for="msg">Message:</label><br>
          <textarea id="msg" placeholder="Enviar un mensaje" name="comments"></textarea>
        </li>
        </ul>
        <div  class="d-grid gap-2 col-2 mx-auto">   
          <button  type="submit" value="Enviar" class="btn-info btn  ms-4">Enviar</button> 
        </div>
      <!--  pagina para redirecionar agrevar una variable cuando es llenado-->
        <input type="hidden" name="_next" value="http://localhost:4200">
      </form>
</div>